<h1><%= movie["Title"] %></h1>
<img src="<%= movie["Poster"] %>" alt="<%= movie["Title"] %>">
<ul>
    <li>Rated: <%= movie["Rated"] %></li>
    <li>Genre: <%= movie["Genre"] %></li>
    <li>Plot: <%= movie["Plot"] %></li>
</ul>

<strong><a href="javascript:history.back()">Go Back</a></strong>